.block {
    width: 300px;
    border-radius: 5px;
    border: 1px solid #fefefe;
    padding: 10px 15px;
    margin: 10px 0;
    box-shadow: 0 3px 6px hsla(0, 0%, 69%, 0.16), 0 3px 6px hsla(0, 0%, 69%, 0.23);
}