.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 50px;
}

.name {
    font-family: inherit;
    padding: 10px;
    margin: 2px 0;
}

.platform {
    font-family: inherit;
    padding: 10px;
    margin: 2px 0;
}

.description {
    font-family: inherit;
    padding: 10px;
    margin: 2px 0;
}

.submit {
    font-family: inherit;
    margin: 2px 0;
    padding: 10px 20px;
    align-self: flex-end;
    cursor: pointer;
}

.error {
    font-size: 14px;
    color: red;
}